/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  background-image: url("assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  font-family: sans-serif;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-title {
  margin-bottom: 15px !important;
}

.page-container {
  text-align: center;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 1rem;
}
