<div class="simulator-container">
  <mat-card class="upload-card">
    <div class="title-clear">
      <mat-card-title class="chat-title">Chat Simulator </mat-card-title>
      <button
        *ngIf="chatHistory.length"
        class="send-button"
        matTooltip="Clear chat"
        mat-raised-button
        (click)="clearChat()"
      >
        <mat-icon class="clear-send-icon">delete_sweep</mat-icon>
      </button>
    </div>
    <p *ngIf="chatbotConfig">Chat with {{ chatbotConfig.name }}!</p>
    <mat-divider></mat-divider>
    <mat-card-content class="chat-history">
      <div *ngFor="let msg of chatHistory" [ngClass]="msg.sender">
        <div class="bubble-timestamp">
          <span class="bubble">
            <strong *ngIf="msg.sender === 'bot'"
              >{{ chatbotConfig.name }}:</strong
            >
            {{ msg.message }}
          </span>
          <div class="timestamp">
            {{ msg.created_timestamp | date : "short" }}
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-actions class="input-area">
      <input
        matInput
        [(ngModel)]="userInput"
        (keyup.enter)="sendMessage()"
        placeholder="Type your message..."
      />
      <button
        class="send-button"
        mat-raised-button
        color="primary"
        (click)="sendMessage()"
      >
        <mat-icon class="clear-send-icon">send</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
